body{
    background-color: lightpink;
}

.b{
    background-color:lightblue ;
}

.c{
    background-color: rgb(33, 170, 33);
}

.p1{
    color: white;
    font-size: medium;
}

h2{
    font-family: sans-serif;
  font-style: italic;
}

.our{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large
}

.in{
    text-align: center;
}

h1{
    font-family: sans-serif;
}